<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <p class="large text-muted">
                        We are a tight-knit developer/hacker collective united by a constant curiosity and a drive to solve hard problems.
                        We bring together diverse minds and innovative approaches to tackle challenging projects,
                        specializing in custom software and advanced technological solutions.
                        Our passion for learning and creativity is at the heart of everything we do,
                        as we strive to push boundaries and deliver exceptional results.
                    </p>
                </div>
            </div>
        </div>
    </section>